/*Main Css */
/* @font-face {
    font-family: Gilory;
  
    src: url(/assets/fonts/Gilroy-Bold.ttf);
    src: url(/assets/fonts/Gilroy-Medium.ttf);
    src: url(/assets/fonts/Gilroy-ExtraBold.ttf);

 }
  */
 * {
    font-family: Gilory;
    padding: 0px;
    margin: 0px;
 }


h2{
    color: #fff;
    font-size: 55px;
    font-weight: 800;
}
p{
    color: #fff;
    font-size: 28px;
    
}
::selection {
    background: #e90b00;
    color: #fff;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: none;
}

::-webkit-scrollbar-track-piece {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

::-webkit-scrollbar-thumb:vertical {
    border-radius: 10px;
    background-color: #e90b00;
}


/* Tabbing CSS */

[class^="box-"] {
    display: none;
}

[class^="box-"].showfirst {
    display: block;
}


/* Accordion CSS */

.myaccordion li .faq-opt {
    display: none;
}

.myaccordion li.active .faq-opt {
    display: block;
}

.myaccordion li.active .faq-ang h4:before {
    content: "\f077";
}

body {
    font-family: "Roboto";
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1;
    color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: block;
    font-weight: normal;
}

*:hover,
*:focus,
* {
    outline: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

a,
input[type="submit"] {
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    display: inline-block;
    cursor: pointer;
}

a:hover {
    color: #ff5e14;
}

span {
    display: inline-block;
}

textarea,
select,
input[type],
textarea,
select,
button {
    background: transparent;
    border: none;
    border-radius: 0px;
    font-family: "Roboto";
    font-weight: 400;
}

::-webkit-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-ms-input-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

:-moz-placeholder {
    color: #a3a3a3;
    font-weight: 400;
}

::-moz-placeholder {
    opacity: 1;
}


/* Padding Classes */

.pad-sec {}

.pad-zero {
    padding: 0px;
}

.pad-l-zero {
    padding-left: 0px;
}

.pad-r-zero {
    padding-right: 0px;
}

.ovr-hiddn {
    overflow: hidden;
}

.overlay:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.overlay {
    display: none;
}

.overlay.active {
    display: block;
}


/* Heading Classes */

.hding-1 h1 {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
}

.hding-2 h2 {}

.hding-3 h3 {}

.hding-4 h4 {}

.hding-5 h5 {}

.hding-6 h6 {}

.para {}

.highlighted {
    color: #ff5e14;
}


/* Custom Slick Css */

.slick-list {
    margin: 0 -15px;
}

.slick-slide {
    margin: 0 15px;
}

.slick-dots {
    padding: 50px 0 0;
    text-align: center;
}

.slick-dots li {
    margin: 0 20px 0 0px;
    width: auto;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    padding: 0px;
    border: none;
}

.slick-dots li button:before,
.slick-dots li button:before {
    color: #fff;
    opacity: 1;
    font-size: 20px;
}

.slick-dots li button {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    padding: 0px;
    background: #d6d6d6;
    border: none;
    cursor: pointer;
    font-size: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    box-sizing: border-box;
}

.slick-dots li.slick-active button {
    background: #f3c919;
    width: 11px;
    height: 11px;
}


/*header css*/

header {
    -webkit-transition: all 0.4s ease-In-out;
    -moz-transition: all 0.4s ease-In-out;
    -o-transition: all 0.4s ease-In-out;
    transition: all 0.4s ease-In-out;
    padding: 5px 0;
}

.main-header {
    position: relative;
    z-index: 1;
    padding: 30px 0px;
}

.logo {
    display: inline-block;
}

.logo img {
    display: block;
}


/* Hamburger Menu */

.menu-Bar {
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0px;
    margin: auto;
    z-index: 22;
    display: none;
}

.menu-Bar span {
    display: block;
    height: 4px;
    width: 100%;
    background: #0f4c97;
    position: absolute;
    transition: 0.6s all;
    border-radius: 100px;
}

.menu-Bar span:nth-child(1) {
    top: 0;
}

.menu-Bar span:nth-child(2) {
    top: 8px;
    transform-origin: left;
}

.menu-Bar span:nth-child(3) {
    top: 16px;
}

.menu-Bar.open span {
    background: #b70404;
}

.menu-Bar.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 12px;
    transform-origin: right-center;
}

.menu-Bar.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}

.menu-Bar.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 12px;
    transform-origin: right-center;
}


/* Menu Css */

.menu {
    font-size: 0px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 40px;
}

.menu li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 35px;
}

.menu li a {
    display: block;
    font-family: 'jost';
    font-size: 16px;
    color: #363636;
    text-transform: uppercase;
    font-weight: 600;
}

.menu li:hover a,
.menu li.active a {
    color: rgb(240, 90, 35);
}


/* Menu Dropdown CSS */

.dropdown-nav {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}

.dropdown-nav:hover {
    overflow: visible;
}

ul.dropdown {
    position: absolute;
    width: 100%;
    left: -0px;
    margin: auto;
    background: #fff;
    padding: 20px;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 0 10px 3px #00000014;
    opacity: 0;
    animation: btotreverse 0.5s forwards;
}

ul.dropdown li {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

ul.dropdown li a {
    padding: 0;
    font-size: 14px;
    color: #000 !important;
    display: block;
    width: 100%;
    margin: 0px 0 15px;
    text-align: center;
    font-weight: 600;
    background: transparent !important;
}

ul.dropdown li.last a {
    margin-bottom: 0px;
}

ul.dropdown li a:hover {
    color: #000 !important;
}

.dropdown-nav:hover ul.dropdown {
    animation: btot 0.5s forwards;
    z-index: 9;
}
.header-btn{
    background-image: linear-gradient(#ec3150, #f72f2d);
    padding: 15px 15px;
    font-family: 'jost';
    text-align: center;
    transition: 0.5s;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border-radius: 4px;
}

/* main banner */

.main-banner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -115px;
    padding-top: 120px;
    padding-bottom: 80px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 91%, 0% 100%);
}
.first-left-cont h2{
    font-size: 65px;
    font-weight: bold;
    color: #051133;
    font-family: 'jost';
}
.first-left-cont p{
    font-size: 18px;
    font-weight: 400;
    padding: 50px 0px;
    font-family: 'Segoe UI', Roboto;
    color: #5a5a5a;
}
.icon-clr{
    color: #f52d30 ;
}
/* main banner */

/* Dropdown CSS*/

@keyframes btotreverse {
    0% {
        top: 75px;
        opacity: 1;
    }
    100% {
        top: 115px;
        opacity: 0;
    }
}

@keyframes btot {
    0% {
        top: 115px;
        opacity: 0;
    }
    100% {
        top: 40px;
        opacity: 1;
    }
}


/* Main Banner CSS */

.mainBanner {
    background-size: cover;
    background-color: #f8f8f8;
    background-position: center;
    background-repeat: no-repeat;
}
.first-ban{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.ban-h1{
    font-size: 105px;
    font-weight: bold;
    color: #000;
}

.ref-program{
    background-color: #000000;
    padding: 70px 50px;
    line-height: 0px;    
    text-align: center;

}
.ref-program h2{
    color: #fff;
    text-align: center;
    font-size: 88px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.ref-program p{
    color: #fff;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 52px;
    line-height: 58px;
}
.ref-btn{
    padding: 55px 150px;
    border-radius: 52px;
    background-color: #e90b00;
    color: #fff;
    font-size: 85px;
    font-weight: 600;
    text-transform: uppercase;
}
.earn-head{
    text-align: center;
    padding: 40px 0px;
}
.earn-head h2{
    font-size: 103px;
    font-weight: 600;
    color: #000;
}
.earn-head p{
    font-size: 45px;
    font-weight: 400;
    color: #000;
}
.earn-desc{
    display: flex;
    flex-direction: row;
    padding: 71px;
}

.earn-desc h2{
    font-size: 70px;
    font-weight: 600;
    color: #000;
}
.earn-desc p{
    font-size: 46px;
    font-weight: 400;
    color: #000;
}
.affiliate-work{
    background-color: #2e2e2e;
    padding-bottom: 50px;
}
.aff-elem h2{
    text-align: center;
    padding-top: 30px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    padding-bottom: 60px;
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
}
.aff-head h2{
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    padding: 50px 0px 80px 0px;
}
.aff-flex{
    display: flex;
    align-items: center;
    line-height: 0px;
}
.aff-flex-body{
    border: 2px solid #fff;
    border-radius: 59px;
}
.aff-flex h2{
    font-size: 124px;
}
.aff-flex p{
    line-height: 27px;
    font-size: 24px;
}
.aff-flex-body {
    border: 2px solid #fff;
    border-radius: 59px;
    text-align: center;
    padding: 30px 40px;
}
.aff-flex {
    display: flex;
    align-items: center;
    line-height: 0px;
}
.aff-elem {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1650px;
    margin-left: auto;
    margin-right: auto;
}
.aff-flex img{
    margin-top: -70px;
}
.hash{
    background-color: #000;
    padding: 50px 0px;
}
.hash h2{
    color: #e90b00;
    text-align: center;
    font-size: 80px;
}
.aff-img{
    line-height: 0px;
}
.aff-img img{
    background-size: cover;
    background-color: #f8f8f8;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}

.container-get{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bg-get{
    background-image: url(/assets/images/Referral\ Page.jpg);
    background-size: cover;
    background-color: #e90b00;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
}
.one-get h2{
    font-size: 105px;
    font-weight: bold;
}
.get-btn{
    padding: 15px 70px;
    border-radius: 12px;
    background-color: #000000;
    color: #fff;
    font-size: 39px;
    font-weight: 600;
    text-decoration: none;
}
.get-one{
    width: 50%;
}
.get-one h2{
    font-size: 80px;
    color: #fff;
}
.get-one p{
    font-size: 50px;
    color: #fff;
    padding-bottom: 50px;
}
.get-two img{
    margin-top: -70px;
}
/* accordion */
.accordian-support-faq>li {
    list-style: none !important;
    padding-bottom: 25px;
    border-bottom: 2px solid #fff;
    margin-bottom: 25px;
    /* box-shadow: 0 0 10px #ccc; */
}
.accordian-support-faq h4 {
    font-size: 34px;
    font-weight: 500;
    position: relative;
    color: #fff;
    cursor: pointer;
    padding-right: 25px;
}
.accordian-support-faq h4::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
    font-weight: 300;
  }
  .accordian-support-faq .active h4::after {
    transform: rotate(45deg);
  }

  .accordian-support-faq div {
    display: none;
  }  
  .accordian-support-faq p {
    font-size: 18px;
    line-height: normal;
    padding-top: 25px;
    color: #fff;
  }  
.acc-text{
    background-color: #000000;
    padding: 100px 0px;
}
.acc-text h2{
    font-size: 86px;
}
.bg-accordion{
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion__label, .accordion__content{
    padding: 18px 10px;
}
.accordion__label{
    display: block;
    border-bottom: 1px solid #fff;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    transition: 0.1s;
}
.accordion__label:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.accordion__content{
    background: rgb(173, 173, 173);
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
}

.accordion__input{
    display: none;
}
.accordion__input:checked ~ .accordion__content{
    display: block;
}
/*  */


@media (max-width: 1440px) {}

@media (max-width: 1200px) {
    img {
        max-width: 100%;
        height: auto;
    }
    .menu-Bar {
        display: block;
        top: 0px;
    }
    .menuWrap.open {
        display: flex;
        left: 0px;
    }
    .menuWrap {
        position: fixed;
        left: -210%;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #0f4c97;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        transition: all 0.4s ease;
        z-index: 3;
        width: 100vw;
    }
    ul.menu li {
        display: block;
    }
    ul.menu li a {
        margin-bottom: 10px;
        padding: 0;
        display: block;
        text-align: center;
        margin-bottom: 15px;
        padding-right: 0px;
        margin-right: 0px;
        color: #fff;
        font-size: 15px;
        text-transform: capitalize;
    }
    .logo img {
        max-width: 50%;
    }
    .container {
        position: relative;
    }
    header .main-header ul.menu>li {
        display: block;
        margin: 0px;
        padding: 0;
    }
    header .main-header ul.menu>li a {
        color: #fff;
    }
    header .main-header ul.menu>li a:before {
        display: none;
    }
}

@media (max-width: 824px) {}


@media (max-width: 767px) {
    .mainBanner {
        height: 67vh;
    }    
    .first-ban {
        display: flex;
        flex-direction: column;
        height: 67vh;
    }
    .ban-h1 {
        font-size: 68px;
        text-align: center;
    }
    .ref-program {
        background-color: #000000;
        padding: 30px 0px 30px 0px;
    }
    .ref-program h2 {
        font-size: 35px;
    }
    .ref-program p{
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .ref-btn{
    padding: 25px 45px;
    border-radius: 52px;
    background-color: #e90b00;
    color: #fff;
    font-size: 30px;
    }
    .earn-head h2{
        font-size: 58px;
    }
    .earn-head p{
        font-size: 25px;
    }
    .earn-desc{
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
    }
    .earn-desc h2{
        font-size: 35px;
    }
    .earn-desc p{
        font-size: 24px;
    }
    .affiliate-work h2{
        font-size: 48px;
        padding: 25px 0px;
    }
    .hash h2 {
        font-size: 50px;
    }
    .aff-flex {
        width: 40%;
    }
    .aff-flex-body {
        border: 2px solid #fff;
        border-radius: 45px;
        text-align: center;
        padding: 15px 15px;
    }
    .aff-elem {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
    .aff-flex img {
        margin-top: -70px;
        max-width: 50px;
    }
    .aff-flex h2{
        font-size: 55px;
    }
    .aff-flex p {
        line-height: 27px;
        font-size: 15px;
    }
    .get-one h2 {
        font-size: 28px;
    }
    .get-one p {
        font-size: 24px;
        padding: 20px 0px;
    }
    .get-btn {
        padding: 15px 12px;
        font-size: 20px;
        margin-top: 0px;
    }
    .get-one {
        width: 80%;
        padding-left: 15px;
    }
    .get-one p {
        font-size: 19px;
        margin-right: -35px;
        padding: 20px 0px;
    }
    .get-btn {
        padding: 15px 12px;
        font-size: 14px;
        margin-top: 0px;
        margin-right: -35px;
    }
    .get-two img {
        margin-top: -26px;
    }
    .bg-accordion {
        padding: 0px 25px;
    }
    .accordion {
        width: 100%;
    }
    .earn-desc div:nth-child(2) {
        padding-left: 25%;
    }
    .earn-desc div{
        padding: 20px 0px;
    }
    .earn-cont{
        padding: 25px 0px;
    }
    .earn-head{
        padding: 0px;
    }
    .acc-text{
        padding: 50px 0px;
    }
}